venv/

__pycache__/
*.py[cod]
*.pyo

.ipynb_checkpoints/
artifacts/*
!artifacts/rdf_best_model.pkl
!artifacts/gdb_final_model.pkl
!artifatcs/ada_best_model.pkl
!artifacts/gdb_mape_dict.pkl

.devcontainer/

*.csv
*.json
*.zip

logs/
*.log
